PyQt6
numpy
pdfkit
plotly
matplotlib
pyyaml
pandas
PyQt6-WebEngine
bayesian-optimization==1.3.0
pygad
pyswarms
pint
markdown
psutil
GPUtil
thermo
numpy_financial
SALib
UQpy
wkhtmltopdf
google-generativeai
PyQt6-WebEngine
scipy
numpy
pandas
plotly
PyYAML
requests
openai
PyQt6
gstools>=1.6.0,<2.0.0
matplotlib
qtawesome
lasio
uuid
setuptools<81
kaleido
pyvista
pyvistaqt
h5py